{% extends "base.html" %}
{% from 'premise_macros.html' import create_premise, update_premise, show_premise, delete_premise %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ argument.title }}</h1>
            <p>{{ argument.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ show_premise(argument.left_premises, premisedeleteform, premisecreateform, evidencedeleteform, evidencecreateform, 'left', create_premise_id, create_evidence_id) }}
            {{ create_premise(argument.id, premisecreateform, 'left') }}
        </div>
        <div class="col">
            {{ show_premise(argument.right_premises, premisedeleteform, premisecreateform, evidencedeleteform, evidencecreateform, 'right', create_premise_id, create_evidence_id) }}
            {{ create_premise(argument.id, premisecreateform, 'right') }}
        </div>
    </div>
{% endblock %}