{% extends "base.html" %}
{% from 'premise_macros.html' import create_premise, update_premise, show_premise, delete_premise %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ argument.title }}</h1>
            <p>{{ argument.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ show_premise(argument.left_premises, premisedeleteform, premisecreateform, premiseupdateform, evidencedeleteform, evidencecreateform, evidenceupdateform, 'left', create_premise_id, create_evidence_id, update_evidence_id, update_premise_id) }}
            {% if create_premise_id == 0 %}
                {{ create_premise(argument.id, premisecreateform, 'left', 'left') }}
            {% else %}
                <a href="{{ url_for('argument_get', argumentid=argument.id, create_premise_id='0') }}" class="btn btn-primary">Create New Premise</a>
            {% endif %}
        </div>
        <div class="col">
            {{ show_premise(argument.right_premises, premisedeleteform, premisecreateform, premiseupdateform, evidencedeleteform, evidencecreateform, evidenceupdateform, 'right', create_premise_id, create_evidence_id, update_evidence_id, update_premise_id) }}
            {% if create_premise_id == -1 %}
                {{ create_premise(argument.id, premisecreateform, 'right', 'right') }}
            {% else %}
                <a href="{{ url_for('argument_get', argumentid=argument.id, create_premise_id='-1') }}" class="btn btn-primary">Create New Premise</a>
            {% endif %}
        </div>
    </div>
{% endblock %}