{% extends "base.html" %}
{% from 'argument_macros.html' import update_argument, show_argument %}
{% block content %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary">
                        <form method="post" action="{{ url_for('argument_create') }}">
                            <div class="form-group" style="margin-top: 1rem;">
                                {{ argumentcreateform.title(placeholder='Title', class='form-control') }}
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    {{ argumentcreateform.left_opponent(placeholder='Left Opponent', class='form-control') }}
                                    <span class="input-group-text">&</span>
                                    {{ argumentcreateform.right_opponent(placeholder='Right Opponent', class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ argumentcreateform.description(placeholder='Description', class='form-control') }}
                                {{ argumentcreateform.csrf_token }}
                                <input type="submit" style="display: none;">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% for argument in arguments %}
            <div class="row">
                <div class="col">
                    {%  if argument.id == update_argument_id %}
                        {{ update_argument(argument, argumentupdateform) }}
                    {% else %}
                        {{ show_argument(argument, argumentdeleteform) }}
                    {%  endif %}
                </div>
            </div>
            {% endfor %}
{% endblock %}