{% extends "base.j2" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Title of the argument</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Patrick Walentiny</h2>
            <div class="alert alert-primary">
                <p>
                This is a fake premise to look at styling.
                </p>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a rebuttal">
                </form>
            </div>
            <div class="alert alert-primary">
                <p>
                This is a fake premise to look at styling.
                </p>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a rebuttal">
                </form>
            </div>
            <form>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a new premise">
            </form>
        </div>
        <div class="col">
            <h2>Matt Byrne</h2>
            <div class="alert alert-primary">
                <p>
                This is a fake premise to look at styling.
                </p>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a rebuttal">
                </form>
            </div>
            <div class="alert alert-primary">
                <p>
                This is a fake premise to look at styling.
                </p>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a rebuttal">
                </form>
            </div>
            <div class="alert alert-primary">
                <p>
                This is a fake premise to look at styling.
                </p>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a rebuttal">
                </form>
            </div>
            <form>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a new premise">
            </form>
        </div>
    </div>
{% endblock %}