{% extends "base.j2" %}

{%  macro argument_list(name, premises, premiseform, argument, opponent) %}
        <div class="col">
            <h2>{{ name }}</h2>
            {% for premise in premises %}
            <div class="alert alert-primary">
                <p>
                {{ premise.text }}
                </p>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add a rebuttal">
                </form>
            </div>
            {%  endfor %}
            <form method="post">
                {{ premiseform.csrf_token }}
                {{ premiseform.opponent(value=opponent) }}
                {{ premiseform.text(class_='form-control mb-2 mr-sm-2', placeholder="Add a new premise") }}
                {{ premiseform.argumentid(value=argument.id) }}
            </form>
        </div>
{%  endmacro %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ argument.title }}</h1>
            <p>{{ argument.description }}</p>
        </div>
    </div>
    <div class="row">
        {{ argument_list(argument.left_opponent, argument.left_premises, premiseform, argument, 'left') }}
        {{ argument_list(argument.right_opponent, argument.right_premises, premiseform, argument, 'right') }}
    </div>
{% endblock %}