{% extends "base.j2" %}
{% block content %}
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr class="row">
                                <th class="col-md-2">Title</th>
                                <th class="col-md-2">Left Opponent</th>
                                <th class="col-md-2">Right Opponent</th>
                                <th class="col-md-6">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for argument in arguments %}
                            <tr class="row">
                                <td class="col-md-2"><a href="{{url_for('argument', argumentid=argument.id)}}">{{argument.title}}</a></td>
                                <td class="col-md-2">{{argument.left_opponent}}</td>
                                <td class="col-md-2">{{argument.right_opponent}}</td>
                                <td class="col-md-6">{{argument.description}}</td>
                            </tr>
                        {% endfor %}
                        <tr class="row">
                            <td class="col-md-2">{{ argumentform.title(class_="form-control mb-2 mr-sm-2", placeholder='Title', form='newArgument') }}</td>
                            <td class="col-md-2">{{ argumentform.left_opponent(class_="form-control mb-2 mr-sm-2", placeholder='Left Opponent', form='newArgument') }}</td>
                            <td class="col-md-2">{{ argumentform.right_opponent(class_="form-control mb-2 mr-sm-2", placeholder="Right Opponent", form='newArgument') }}</td>
                            <td class="col-md-6">{{ argumentform.description(class_="form-control mb-2 mr-sm-2", placeholder="Description", form='newArgument') }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <form method="post" id="newArgument">
                        {{ argumentform.csrf_token }}
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
{% endblock %}